<?xml version="1.0"?>
<config>
  <modules>
    <Creare_Abtesting>
      <version>0.1</version>
    </Creare_Abtesting>
  </modules>
  <global>
		<blocks>
			<abtesting>
				<class>Creare_Abtesting_Block</class>
			</abtesting>
		</blocks>
		<models>
			<abtesting>
				<class>Creare_Abtesting_Model</class>
				<resourceModel>abtesting_mysql4</resourceModel>
			</abtesting>
            <core>
                <rewrite>
                    <design_package>Creare_Abtesting_Model_Package</design_package>
                </rewrite>
            </core>
		</models>
		<helpers>
			<abtesting>
				<class>Creare_Abtesting_Helper</class>
			</abtesting>
		</helpers>
		<events>
			<controller_front_init_before>
				<observers>
					<clear_temp_session>
						<type>singleton</type>
						<class>abtesting/observer</class>
						<method>removeAbSession</method>
					</clear_temp_session>
				</observers>
			</controller_front_init_before>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<clear_temp_session_test>
						<type>singleton</type>
						<class>abtesting/observer</class>
						<method>removeTempSession</method>
					</clear_temp_session_test>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<abtesting>
					<file>creare_abtesting.xml</file>
				</abtesting>
			</updates>
		</layout>
	</frontend>
	<default>
		<abtesting>
			<accounts>
				<active>0</active>
			</accounts>
			<current>
				<test>a</test>
			</current>
		</abtesting>>
	</default>
</config>
